suitcase
Makefile
Makefile.in
aclocal.m4
autom4te.cache
**/*~
**/*-
**/*.lo
**/*.la
configure
depcomp
install-sh
missing
.deps
config.log
config.h
config.h.in
config.status
config.guess
config.sub
**/*.o
stamp-h1
schema_*.h
**/*-Results.xml
test-driver
**/*.log
**/.dirstamp
test
compile
libtool
ltmain.sh
test.trs
.libs
nbproject/private
doxygen
schema_mysql.h
schema_sqlite.h
sqlstmts_mysql.h
sqlstmts_sqlite.h
